@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .task {
    display: flex;
    gap: 1rem;
  }

  .icons-box {
    display: flex;
    gap: 1rem;
  }
}
